:root {
    --primary-green: #4CAF50; /* Color verde del logo */
    --white: #FFFFFF;
}

body {
    background-color: var(--white));
    color: var(--primary-green);
    padding-top: 4rem; /* Ajusta este valor según la altura del navbar */

}

.navbar {
    background-color: var(--primary-green);
}

.navbar-brand,
.nav-link {
    color: var(--white) !important;
}
.navbar-brand img{
    max-height: 3.5rem;
}


.dropdown-item:hover{
    background-color: var(--primary-green) !important;
    color: var(--white) !important;
}
.dropdown-toggle:active,
.dropdown-toggle:focus{
        background-color: var(--white) !important;
        color: var(--primary-green) !important;
    }
.monoton-regular {
  font-family: "Monoton", serif;
  font-weight: 400;
  font-size:2.5rem;
  font-style: normal;
}


/* Cuando el navbar NO está colapsado */
.nav-link:hover {
    background-color: var(--white) !important;
    color: #238f39 !important;
}
.nav-link i:hover{
    background-color: var(--white) !important;
    color: #238f39 !important;
}

@media(max-width:991px){
.navbar-collapse.show .nav-link:hover {
    background-color: transparent !important;
    color: #238f39 !important;
}
.navbar-collapse.show .nav-link i:hover{
    background-color: transparent !important;
    color: #238f39 !important;
}
body{
    padding-top:4rem;
}
}

@media(max-width:600px){
body{
    padding-top:4rem;
}}


@media(max-width:462px){
body{
    padding-top:7rem;
}
}
footer {
    background-color: var(--primary-green);
    color: var(--white);
}

.navbar i{
    color:white !important;
    font-size: 2rem !important;
}

dropdown-menu{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0!important;

}
.btn.dropdown-toggle {
    margin-bottom: 0 !important; /* Elimina margen debajo del botón */
}