
/* Configuración base */
.contenedor-categorias {
    position: relative;

    width: 35%; /* Ajusta según el diseño */
}

.collapse-categorias {
    transition: height 0.4s ease; /* Aumenta el tiempo a 1.2 segundos */
    height: 0; /* Altura inicial colapsada */
    overflow: hidden; /* Oculta contenido */
}

.collapse.show {
    height: auto; /* Altura automática al expandir */
    overflow: visible; /* Muestra contenido */
}

.list-group-item {
    transition: all 0.4s ease; /* Ajusta la duración para movimientos generales */
}

.contenedor-categorias button {
    transition: transform 0.4s ease, margin 0.4s ease; /* Suaviza el movimiento y los márgenes */
}
.categoria{
    padding:0 0 1rem 1rem !important;
    }



.subcategoria{
    padding: 0.5rem 0 0 2rem !important;
}
.contenedor-categorias ul{
    padding:0;
    }

button[aria-expanded="true"] .arrow {
    transform: rotate(180deg); /* Gira la flecha hacia arriba */
    transition: 0.4s linear;
}

.filtros{
    justify-content:flex-end;
}
select{
    max-width:25%;
}

.contenedor-grande{
    padding-top: 3rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}
i{
    color: var(--primary-green);
}

.contenedor-productos{
    padding-left: 1rem;
    padding-right:1rem;
    margin-left:1rem;
    border-left: 1px solid var(--primary-green);
}

.listado-productos{

display:flex;
justify-content:space-between;
flex-wrap:wrap;
gap:2rem;
padding-top:2rem;
}