body{
    background-color: #eeeeee !important;
}
.container{
    padding-top: 4rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    border-radius: 12px;
    background-color: white !important;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.precios{
    flex:1;
    padding-left:5rem !important;
}

.precios button{
    font-size: 18px;
}

.precios p{
    font-size: 18px;
}



.producto{
    display: flex;

}

.imagenes{
    flex:1;
}