:root {
    --primary-green: #4CAF50; /* Color verde del logo */
    --white: #FFFFFF;
}

body {
    background: linear-gradient(to bottom, var(--primary-green), var(--white));
    color: var(--primary-green);
    padding-top: 58px; /* Ajusta este valor según la altura del navbar */

}

.navbar {
    background-color: var(--primary-green);
}

.navbar-brand,
.nav-link {
    color: var(--white) !important;
}
.navbar-brand img{
    max-height: 3.5rem;
}


.dropdown-item:hover{
    background-color: var(--primary-green) !important;
    color: var(--white) !important;
}
.dropdown-toggle:focus{
    background-color: var(--white) !important;
    color: var(--primary-green) !important;
}
.monoton-regular {
  font-family: "Monoton", serif;
  font-weight: 400;
  font-size:2.5rem;
  font-style: normal;
}


/* Cuando el navbar NO está colapsado */
.nav-link:hover {
    background-color: var(--white) !important;
    color: #238f39 !important;
}

@media(max-width:991px){
.navbar-collapse.show .nav-link:hover {
    background-color: transparent !important;
    color: #238f39 !important;
}
body{
    padding-top:3rem;
}
}

@media(max-width:600px){
body{
    padding-top:5rem;
}}
@media(max-width:462px){
body{
    padding-top:8rem;
}}

}
footer {
    background-color: var(--primary-green);
    color: var(--white);
}

/* Configuración base */
.contenedor-categorias {
    position: relative;
    max-width: 300px; /* Ajusta según el diseño */
}

.collapse-categorias {
    transition: height 0.4s ease; /* Aumenta el tiempo a 1.2 segundos */
    height: 0; /* Altura inicial colapsada */
    overflow: hidden; /* Oculta contenido */
}

.collapse.show {
    height: auto; /* Altura automática al expandir */
    overflow: visible; /* Muestra contenido */
}

.list-group-item {
    transition: all 0.4s ease; /* Ajusta la duración para movimientos generales */
}

button {
    transition: transform 0.4s ease, margin 0.4s ease; /* Suaviza el movimiento y los márgenes */
}

button[aria-expanded="true"] .arrow {
    transform: rotate(180deg); /* Gira la flecha hacia arriba */
    transition: 0.4s linear;
}

.contenedor-grande{
    padding-top:2rem;
    display: flex;
    justify-content: space-between;
}

.listado-productos{
display:flex;
flex-wrap:wrap;
}