body{
    background-color: #eeeeee !important;
}
.container{
    padding-top: 4rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    border-radius: 12px;
    background-color: white !important;
}

.carousel-item img {

    width: 200px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.precios{
    flex:1;
    padding-left:5rem !important;
}

.precios button{
    font-size: 18px;
}

.precios p{
    font-size: 18px;
}

.descripcion{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    padding: 1rem;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.producto{
    display: flex;

}

.imagenes{
    flex:1;
}

.features{
    padding: 1rem;
    margin-bottom: 2rem;
}

@media(max-width:991px){
.producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

}
.precios{
    padding:0px !important;

}
.descripcion{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.features{
    padding: 0px;
}
.list-group{
    padding-bottom:1rem !important;
}

}