:root {
    --primary-green: #4CAF50; /* Color verde del logo */
    --white: #FFFFFF;
}

body {
    background: linear-gradient(to bottom, var(--primary-green), var(--white));
    color: var(--primary-green);
    padding-top: 1rem; /* Ajusta este valor según la altura del navbar */

}

.navbar {
    background-color: var(--primary-green);
}

.navbar-brand,
.nav-link {
    color: var(--white) !important;
}
.navbar-brand img{
    max-height: 3.5rem;
}


.dropdown-item:hover{
    background-color: var(--primary-green) !important;
    color: var(--white) !important;
}
.dropdown-toggle:focus{
    background-color: var(--white) !important;
    color: var(--primary-green) !important;
}
.monoton-regular {
  font-family: "Monoton", serif;
  font-weight: 400;
  font-size:2.5rem;
  font-style: normal;
}


/* Cuando el navbar NO está colapsado */
.nav-link:hover {
    background-color: var(--white) !important;
    color: #238f39 !important;
}

/* Cuando el navbar está colapsado */
@media(max-width:991px){
.navbar-collapse.show .nav-link:hover {
    background-color: transparent !important;
    color: #238f39 !important;
}
body{
    padding-top:3rem;
}
}

@media(max-width:600px){
body{
    padding-top:5rem;
}}
@media(max-width:462px){
body{
    padding-top:8rem;
}}




.container-boton{
    background-color: #2e6329;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 12px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.banner-container {
    position: relative;
    width: 100%; /* Asegura que ocupe todo el ancho */
    overflow: hidden; /* Evita que desborde */
}

.boton{
    width: 3rem;
    transition: ease 1s;
}

.contactos h2{
    color: var(--white) !important;
}
.container-productos button{
    transition: ease 0.3s;
    font-size:1.2rem;
}
.container-productos button:hover{
    transform: scale(1.1);
    transition: 0.3s;
}



.container-carousel{
    width:25rem;
}

.container-titulo{
    display:flex;
    justify-content: space-between;
    padding-bottom:2rem;
}
.contenedor-cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:1rem;
    padding-bottom:2rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color:black;
    opacity: 0.35;
}

.card-body{
display: flex;
flex-direction: column;

}



.btn-primary {
    background-color: transparent !important;
    color: var(--white) !important;
    border: 2px solid var(--white) !important;
}

.btn-primary:hover {
    background-color: var(--primary-green);
    color: var(--white);
}


.contactos{
    background-color: var(--primary-green);
}




.social-media{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:2rem;
    padding:4rem 0;

}
.social-media i {
    font-size: 2rem; /* Cambia este valor para agrandar/reducir los íconos */
    margin: 0 15px; /* Espacio entre los íconos */
    color: #000; /* Cambia el color si es necesario */
    transition: transform 0.3s; /* Animación al pasar el mouse */
}

.social-media i:hover {
    transform: scale(1.2); /* Agranda los íconos al pasar el mouse */
    color: var(--primary-green); /* Cambia el color al pasar el mouse (opcional) */
}

footer {
    background-color: var(--primary-green);
    color: var(--white);
}

