:root {
    --primary-green: #4CAF50; /* Color verde del logo */
    --white: #FFFFFF;
}

body {
    background: linear-gradient(to bottom, var(--primary-green), var(--white));
    color: var(--primary-green);
}

.navbar {
    background-color: var(--primary-green);
}

.navbar-brand,
.nav-link {
    color: var(--white) !important;
}
.navbar-brand img{
    max-height: 3.5rem;
}


.dropdown-item:hover{
    background-color: var(--primary-green) !important;
    color: var(--white) !important;
}
.dropdown-toggle:focus{
    background-color: var(--white) !important;
    color: var(--primary-green) !important;
}
.monoton-regular {
  font-family: "Monoton", serif;
  font-weight: 400;
  font-size:2.5rem;
  font-style: normal;
}


/* Cuando el navbar NO está colapsado */
.nav-link:hover {
    background-color: var(--white) !important;
    color: #238f39 !important;
}

/* Cuando el navbar está colapsado */
@media(max-width:991px){
.navbar-collapse.show .nav-link:hover {
    background-color: transparent !important;
    color: #238f39 !important;
}
}


.hero {
    color: var(--white);
    padding: 60px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
}
.contactos h2{
    color: var(--white) !important;
}

.btn-primary {
    background-color: transparent !important;
    color: var(--white) !important;
    border: 2px solid var(--white) !important;
}

.btn-primary:hover {
    background-color: var(--primary-green);
    color: var(--white);
}


.contactos{
    background-color: var(--primary-green);
}







footer {
    background-color: var(--primary-green);
    color: var(--white);
}

